@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to right,rgb(13, 35, 109), rgb(113, 73, 136));
}

main {
    display: inline-block;
}

form {
    display: grid;
    grid-template-columns: repeat(4, 70px);
    grid-template-areas:
        'visor visor visor visor'
        'btnc btndel btnpara btnparb'
        'btn7 btn8 btn9 btnadd'
        'btn4 btn5 btn6 btnmen'
        'btn1 btn2 btn3 btndiv'
        'btnpnt btn0 btnmult btnigual';
    background-color: rgb(83, 82, 82);
    border-radius: 5px;
    box-shadow: 2px 2px 8px 3px rgba(0, 0, 0, 0.651);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#visor {
    background-color: rgb(0, 161, 0);
    color: rgb(0, 56, 14);
    border-style: inset;
    font-size: 1.2rem;
    line-height: 2.5rem;
    font-family: 'Press Start 2P', cursive;
    margin: 10px;
    grid-area: visor;
}


.botao {
    width: 59px;
    height: 49px;
    padding: 0.2rem;
    margin: 0.3rem;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
    background: linear-gradient(to right, #232323, #202020);
    border-radius: 5px;
    color: white;
}

.botao:hover {
    background: linear-gradient(to right, #afafaf, #727272);
    color: #232323;
}

a {
   text-decoration: none;
   color: yellow;
}

a:hover {
   color: white;
   text-shadow: 0.1rem 0.1rem 0.3rem rgba(255, 255, 255, 0.555);
}

footer {
    top: 88%;
    left: 50%;
    transform: translate(-50%, -88%);
    position: absolute;
    text-align: center;
    text-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.555);
    font-family: 'Orbitron', sans-serif;
    color: yellow;
 }